<header>
    <!--Logo do site-->
    <h1>
    <a href="/" class="Titulo"><span class="brand-name">Lore</span> <span class="brand-name">Glass</span></a>
    </h1>

    
    <nav>
        <ul>
            <!--Links para navegação da página-->
            <!--Prudutos-->
            <li><a href="#">Produtos</a></li>

            <nav class="carrinho">
            <li>
                <!--Carrinho-->
          <a href="carrinho">
                <i class="fa-solid fa-cart-shopping"></i>
                Carrinho
                <!--substituído pelo número de itens no carrinho, que é retornado 
                pelo método obtemCarrinho() do serviço CarrinhoService-->
                <span *ngIf="carrinhoService.obtemCarrinho().length > 0" class="badge-carrinho">
                    {{ carrinhoService.obtemCarrinho().length }}
                </span>
            </a>
            </li>
        </nav>

            <!--Contatos-->
            <li><a href="contato">Contato</a></li>
            <!--Facebook-->
            <li><a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a></li>
            <!--instagram-->
            <li><a href="https://www.instagram.com/loreglasses/"><i class="fa-brands fa-instagram"></i></a></li>
            <!--Linkedin-->
            <li><a href="https://www.linkedin.com/in/deivisson-gon%C3%A7alves-a94778223/"><i class="fa-brands fa-linkedin-in"></i></a></li>
        </ul>
    </nav>

    <!--Barra de pesquisa-->
    <app-barra-pesquisa></app-barra-pesquisa>
</header>