<!-- rodapé é definido dentro da tag footer-->
<footer class="footer">

    <!--Container do rodapé Agrupa os conteúdos do rodapé.-->
    <div class="footer-container">

        <!--Seção "Sobre" Explica a missão da LoreGlass.-->
        <section class="footer-about">
            <h2 class="footer-title">Sobre</h2>
            <p class="footer-about-text">
                A LoreGlass é mais do que uma loja de óculos; é um lugar onde estilo e qualidade se encontram para transformar o seu olhar. Com uma vasta seleção de modelos inovadores, nossa missão é proporcionar não apenas uma excelente experiência visual, mas também elevar o seu estilo pessoal. Seja para proteger seus olhos com as lentes mais avançadas ou para complementar o seu visual com óculos modernos, a LoreGlass oferece uma gama de opções para todos os gostos e necessidades.
            </p>
        </section>

        <!--Seção "Contato" Contém informações de contato.-->
        <address class="footer-contact">
            <h2 class="footer-title">Contato</h2>
            <ul>
                <!--Representado cada ícone de envelope da biblioteca FontAwesome.-->
                <li><i class="fa-solid fa-envelope"></i> emailAemail.com</li>
                <li><i class="fa-solid fa-phone"></i>(00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i>(00) 0 0000-0000</li>
            </ul>
        </address>
    </div>

    <!--seção de direitos autorais. Exibe a mensagem de direitos reservados.-->
    <section class="footer-copyright">
        &copy; Todos os Direitos reservados
    </section>
</footer>