<section class="product-list">
    <div class="product-list__card" *ngFor="let produto of produtos">
        <a routerLink="/produtos/{{produto.id}}" class="product-list__link">

            <!-- A imagem do produto  usando propery binding -->
            <img [src]="produto.imagem" >

            <!--Nome do produto  usando propery binding-->
            <h2 class="product-item__name">
                {{produto.descricao}}
            </h2>

            <!--Preço do produto  usando propery binding-->
            <p class="product-item__price">
                {{produto.preco | currency: 'BRL'}}
            </p>

            <!--Descição do preço  usando propery binding-->
            <p class="product-item__price-description">
                {{produto.descricaoPreco}}
            </p>

            <!--borão de comprar-->
            <button class="product-item__buy-button" type="button">Comprar</button>
        </a>
    </div>
</section>
