<!--Titulo-->
<h2 class="cart-title">Carrinho</h2>

<!--Mostra ou oculta o elemento com base na condição.
Se houver itens do carrinho será exibido o conteudo,
se não exibirá o template alternativo "semProdutos"-->
<div *ngIf="itensCarrinho.length > 0; else semProdutos">
    <ul>
        <!--Percorre a lista itensCarrinho e gera um <li> para cada item.-->
        <li *ngFor="let itemCarrinho of itensCarrinho">
            <!--Immagem do produto-->
            <img [src]="itemCarrinho.imagem">

            <!--Nome do produto-->
            <p>{{itemCarrinho.descricao}}</p>

            <!--Preço do produto-->
            <p>{{itemCarrinho.preco | currency: "BRL"}}</p>

            <!--Quantidades do produto-->
            <label>
                Quantidade:
                <!--O evento (change) chama o método calcularTotal() sempre que o valor é alterado.-->
                <input type="number"  [(ngModel)] = "itemCarrinho.quantidade" (change)="calcularTotal()">
            </label>

            <!--Remover o produto passando o Id do produto-->
            <button (click)="removerProdutoCarrinho(itemCarrinho.id)"><i class="fa-solid fa-xmark"></i></button>
        </li>
    </ul>

    <!--Total-->
    <h2 class="cart-total">Total: {{total | currency: "BRL"}}</h2>

    <!--Botão para finalizar a compra-->
    <button (click)="comprar()">Comprar</button>
</div>

<!--template alternativo-->
<ng-template #semProdutos>Nenhum produto adicionado no carrinho</ng-template>